[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
WorkingDirectory=/var/lib/kubelet
ExecStart=/opt/ok8s/bin/kubelet \
  --config=/var/lib/kubelet/config.yaml \
  --cni-bin-dir=/opt/ok8s/cni \
  --cni-conf-dir=/etc/cni/net.d \
  --hostname-override=ok8s \
  --kubeconfig=/etc/kubernetes/kubelet.kubeconfig \
  --network-plugin=cni \
  --pod-infra-container-image=k8s.gcr.io/pause:3.1 \
  --root-dir=/var/lib/kubelet
  --v=2
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
